<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="google" content="notranslate">
    <title>Microbe Club: TITLE-TO-REPLACE</title>
    <meta name="description" content="DESCRIPTION-TO-REPLACE">
    <meta name="keywords" content="KEYWORDS-TO-REPLACE">

    <!-- Pico.css -->
    <!-- href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.min.css" -->
    <link rel="stylesheet" href="../css/pico.min.css">
  </head>

  <body>
    <header class="container">
        <nav>
          <ul>
            <li>
              <a href="../index.html" class="contrast secondary">
                <div>
                  <h1>Microbe Club</h1>
                  Practical knowledge from scientific sources
                </div>
              </a>
            </li>
          </ul>
          <ul>
            <li><a href="../index.html" class="contrast secondary">Articles</a></li>
            <li><a href="../about-mikrob-and-me.html" class="secondary">About&nbsp;us</a></li>
            <li><a href="../contacts.html" class="secondary">Contacts</a></li>
            <li>
              <details class="dropdown">
                <summary role="button" class="outline secondary">☀</summary>
                <ul>
                  <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                  <li><a href="#" data-theme-switcher="light">Light</a></li>
                  <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </nav>
    </header>
    
    <main class="container">
      <div>
        <small style="float:right">DATE-TO-REPLACE</small>
      </div>
      <section>
        CONTENT-TO-REPLACE
      </section>
    </main>

    <!-- Minimal theme switcher -->
    <script src="../js/minimal-theme-switcher.js"></script>
    </body>
  </html>
